/* Common Shared Style */
body{
font-family: 'Open Sans', sans-serif;
}
.text_primery{
    color: #FD6E0A;
}
.btn_primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0px; 
    color: white;
    font-size: 20px;
    font-weight: 700; 
    padding: 15px 35px;
}
.section_title{
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.section_discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* Nav related css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nev_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom left;

}  

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_content{
    max-width: 500px;
}
.banner .profile_pic{
    width: 500px;

} 

.banner_greeting{
    font-size: 45px;
    margin-bottom: 0px;
}
.banner_title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner_discription{
    margin-top: 0px;
}
/* Main section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;

}